<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Edit User</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>

<body>

<div class="container-fluid">


    <div class="bg-dark text-white p-3 d-flex justify-content-between">
        <div>
            <b th:text="${user.email}"></b>
            with roles:
            <span th:each="role : ${user.roles}"
                  th:text="${#strings.replace(role.name,'ROLE_','')} + ' '">
        </span>
        </div>

        <a href="/logout" class="text-light">Logout</a>
    </div>


    <div class="row">


        <div class="col-2 bg-light vh-100 pt-3">

            <ul class="nav flex-column">

                <li class="nav-item">
                    <a class="nav-link active"
                       href="/admin/users/list">Admin</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       href="/user">User</a>
                </li>

            </ul>

        </div>


        <div class="col-10 p-4">

            <h2>Admin Panel</h2>


            <ul class="nav nav-tabs mb-3">

                <li class="nav-item">
                    <a class="nav-link"
                       href="/admin/users/list">
                        Users table
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       href="/admin/users/create">
                        New User
                    </a>
                </li>

            </ul>


            <div class="card w-50">

                <div class="card-header text-center">
                    Edit User
                </div>


                <div class="card-body">

                    <form th:action="@{/admin/users/edit/{id}(id=${user.id})}"
                          th:object="${user}"
                          method="post">


                        <div class="mb-3">
                            <label class="form-label">First Name</label>
                            <label>
                                <input class="form-control" th:field="*{firstName}">
                            </label>
                        </div>


                        <div class="mb-3">
                            <label class="form-label">Last Name</label>
                            <label>
                                <input class="form-control" th:field="*{lastName}">
                            </label>
                        </div>


                        <div class="mb-3">
                            <label class="form-label">Age</label>
                            <label>
                                <input class="form-control" th:field="*{age}">
                            </label>
                        </div>


                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <label>
                                <input class="form-control" th:field="*{email}">
                            </label>
                        </div>


                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <label>
                                <input type="password" class="form-control" th:field="*{password}">
                            </label>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Roles</label>

                            <label>
                                <select th:field="*{roles}" multiple class="form-select">

                                    <option th:each="role : ${roles}"
                                            th:value="${role.id}"
                                            th:text="${role.name}">
                                    </option>

                                </select>
                            </label>

                        </div>


                        <div class="text-center">
                            <button class="btn btn-primary">
                                Update
                            </button>
                        </div>


                    </form>

                </div>
            </div>


        </div>
    </div>
</div>

</body>
</html>